@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Airbnb Brand Colors */
  --primary: #002efa;
  --primary-foreground: #ffffff;

  --muted: #f7f7f7;
  --muted-foreground: #717171;

  --border: #dfdfdf;
  --input: #dfdfdf;
  --ring: #c8c8c8;

  --radius: 0.5rem;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .container-custom {
    @apply max-w-[2520px] mx-auto xl:px-20 md:px-10 sm:px-2 px-4;
  }
}